.aide{
   padding:50px; 
}

.aide h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 ;
    font-size: 55px;
    line-height: 60px;
    color: #5B84D3;
}

.aide h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 ;
    font-size: 40px;
    line-height: 60px;
    color: #053070;
}

.aide p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 52px;
    color: #333333;
}


@media screen and (max-width: 1050px) {
    .aide{
        flex-direction: column; 
    }
}

@media screen and (max-width: 490px) {
    .aide h3 {
        font-weight: 500 ;
        font-size: 25px;
    }
    .aide p {
        font-weight: 400;
        font-size: 15px;
    }
    .aide h4 {
        font-weight: 500 ;
        font-size: 18px;
    }
}