.userpage{
    padding:50px ; 
    display: flex ; 
}

.retourbtn {
    color:#545454;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    margin-top: 70px; 
}

.box2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: row;
    padding: 50px;
    display: flex;
    position:absolute ; 
    margin-left: 600px;
    margin-top: 80px;
    width:1000px;
    height:650px;
    border-radius: 30px;
}

.infos {
   flex-direction: column ; 
   justify-content: space-around;
   padding: 50px;
}

.titrex {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #000000;
    
}

.affichage {
    
width: 350px;
height: 60px;
border: none; 
border-radius: 18px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 38px;
background-color: #f1f1f1;
color:#505050;
text-align: center;


}

.image {
   flex-direction: column ; 
   text-align:left;
   padding: 50px ;
   justify-content:space-between;
   width: 100%;
   height: 100%;
   border: 10px solid #053070;
   border-radius: 300px;
}

.infos a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    cursor: pointer;
    color: #505050;
}

.box1 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    padding: 50px;
    display: flex;
    position:absolute ; 
    border-radius: 30px;
    width:300px;
    height: 300px ;
    margin-top: 200px; 
    margin-left: 100px;
    justify-content: space-around;
    align-items: center;
}

.links { 
    flex-direction: column; 
    display: flex ; 
    justify-content: space-around;
    
    
}

.links a {
font-family: 'Poppins';
font-style: normal;
font-size: 20px;
font-weight: 500;
line-height: 33px;
color: #434C5B;
padding: 10px;
cursor: pointer;
}
.links a:hover {
    color: #2825B9;
    transform: scale( 1.1 );
}
.decnxn a {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    color: #2825B9;  
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .retourbtn{
        font-size: 18px;
        font-weight: 400;
        margin-top: 60px;
        margin-left: 10px;
    }
    .box2{
        flex-direction:column;
        width:500px;
        height:900px;
        margin-left: 250px;
        margin-top: 100px;
        
    }
    .box1{
        width:200px;
        height: 200px ;
        padding :25px ;
        margin-left: 10px;
        margin-top: 300px;

        
    }

    .links a {
         font-size: 15px;
         font-weight: 400;
         line-height: 25px;
    }
    .decnxn a {
        font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    }
    .infos p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 5px;
    }
    .affichage{
        width: 230px;
        height: 40px;
    }
}

@media screen and (max-width: 490px) {
    .retourbtn{
        font-size: 15px;
        font-weight: 300;
        margin-top: 50px;
        margin-left: 0px;
    }
    .box2{
        flex-direction:column;
        width:300px;
        height:550px;
        margin-left:0px;
        margin-top: 200px;   
    }
    .box1{
        width:150px;
        height: 120px ;
        padding :10px ;
        margin-left:70px;
        margin-top: 50px;
        
        
    }

    .infos{
        padding:10px
    }
    .links a , .infos a {
         font-size: 12px;
         font-weight: 300;
         line-height: 25px;
    }
    .decnxn a {
        font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    }
    .infos p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    }
    .affichage{
        width: 200px;
        height: 30px;
    }
}

